html{
	font:normal 12px '微软雅黑' 'Microsoft YaHei';
} 
ul,ol,p,h1,h2,h3{
	margin: 0;
	padding: 0;

}
body{
	background: #f0f0f0;
	margin: 0;
	padding-top: 60px;
}

ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
	display: inline-block;

}

table{
	width: 100%;
	border-collapse: collapse;

}
table thead{
	text-align: center;
}
table td{
	border: 1px solid #ededed;
	line-height: 2em;
}
/*顶部导航*/
.header{
	background-color: #455758;
	opacity: 0.98;
	 min-height: 60px;
	/*border: 1px solid #455758;*/
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;

}
.header>.container{
	padding-left: 15px;
	padding-right: 15px;

}
.header>.container>.nav-header{
	margin-left: -15px;
	margin-right: -15px;
}
*{
	box-sizing: border-box;
}
.header>.container>.nav-list>ul>li:hover>a{
		color:#fff;
}
/*menuNav*/

.menuNav>.container>.wrap{
	padding: 20px 15px 0 15px;
}
/*menuhead*/
.menuNav>.container>.wrap>.menu-head{
	padding: 10px 15px;
    border-bottom: 1px solid #E2E2E2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #F5F5F5;
}
.menuNav .wrap>.menu-head>.menu-title{
    color: inherit;
}
.menuNav .menu-title>.menu-option{
	display: inline-block;
	vertical-align: middle;
}
.menuNav .menu-title>.menu-option>a{
	box-sizing: content-box;
	display: inline-block;
	font-size: 14px;
	padding: 6px 12px;
	border:1px solid #ccc;
	float: left;
	background-color: #fff;
}
.menuNav .menu-title>.menu-option::after{
	content: "";
	display: block;
	clear: both;
}
.menuNav .menu-title>.menu-option>a:not(:last-child){
	border-right: none;
}
.menuNav .menu-title>form{
	display: inline-block;
}
.menuNav .menu-title>form select{
	padding:6px 12px; 
	width: 90px;
	height: 34px;
	border:1px solid #ccc;
}
.menuNav .menu-title>form>span:last-child{
	position: relative;
}
.menuNav .menu-title>form i{
	position: absolute;
	top: -5px;
	left: 0;
	padding: 10px;
	font-size: 16px;
	line-height: 1;

}
.menuNav .menu-title>form input{
	font-size: 12px;
	width: 200px;
	height: 36px;
	padding: 1px 0 1px 30px;
	border:1px solid #ccc;
}
	/*menubody*/
.menuNav  .menu-body{
	padding:15px 0;
	background: #f0f0f0;
}
	/*menu-body响应式*/
.menuNav  .menu-body>.row{
    margin-right: -15px;
    margin-left: -15px;
}

.menuNav  .menu-body>.row>.col{
	padding:0 15px;


}
.menuNav  .menu-body a{
	display: block;

}
.menuNav  .menu-body a>.wrap{
	margin-bottom: 20px;
	overflow: hidden;
	height: 190px;
}	
.menuNav  .menu-body a>.wrap:hover>.desc{
	display: block;
	transform:translateY(-105px);
}
.menuNav  .menu-body a>.wrap:hover{
	box-shadow: 0 10px 20px #ccc;
}

.menuNav  .menu-body a>.wrap>img{
	height: 80px;
    width: 100%;
    display: block;
    max-width: 100%;
}
.menuNav  .menu-body a>.wrap>.caption{
	height: 110px;
    padding: 9px;
    color: #333;
    overflow: hidden;
    text-align:center;
    background-color: #fff;
}
.menuNav  .menu-body a>.wrap>.caption>h3{
	margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}
.menuNav  .menu-body a>.wrap>.desc{
    overflow: hidden;
    position: relative;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition-duration: .5s;

}
.menuNav .menu-body .wrap>.desc>p{
	display: block;
	text-indent: 2em;
	padding: 10px 10px 20px 10px;
	margin: 0 0 10px;
	font-size: 14px;

}


@media screen and (min-width: 992px){
	.menuNav  .menu-body>.row::after{
		content: "";
		display: block;
		clear: both;
	}
	.menuNav  .menu-body>.row>.col{
		width: 25%;
		float: left;
	}
}

/*最大显示宽度767px*/
@media screen and (max-width: 767px){
	.header>.container>.nav-header>a:first-child{
		box-sizing: content-box;
		width: 140px;
		height: 20px;
		padding: 15px;
		margin-left: 20px;
	}
	.header>.container>.nav-header::after{
		content: "";
		display: block;
		clear: both;
	}
	.header>.container>.nav-header>a:last-child{
		box-sizing: content-box;
		width:22px;
		height: 20px;
		padding: 9px 10px;
		margin:13px 15px 8px 0;
		float: right;
		display: block;
	}

	.header>.container>.nav-header>a>i{
		font-size: 22px;
		color:#fff;
	}
	.header>.container>.nav-list{	
		background-color: #455758; 
		border-top:1px solid  #5B6B6C;
		display: none;
	}
	.header>.container>.nav-list>ul{
		margin:7.5px 0;
	}
	.header>.container>.nav-list>ul>li{
		line-height: 1.5;
	}
	.header>.container>.nav-list>ul>li:hover>a{
		color:#fff;
	}
	.header>.container>.nav-list>ul>li>a{
		width: 100%;
		padding: 10px 0 ;
		color: #9d9d9d;		
		font-size: 14px;
	}
	.header .nav-list>ul>li>a>i{
		font-size: 12px;
		margin-right: 2px;
	}
	.menuNav .menu-title>.menu-option{
		margin-bottom: 5px;
	}

}



/*最小显示宽度768px*/
@media screen and (min-width: 768px){
	.container{
		width:750px;
		padding-right: 15px;
	    padding-left: 15px;
	    margin:0 auto;
	}
	.header>.container>.nav-header>a:first-child{
		box-sizing: content-box;
		width: 140px;
		height: 20px;
		padding: 15px;
		float: left;
	}
	.header>.container>.nav-header>a:last-child{
		display: none;
	}
	.header>.container>.nav-list::after{
		content: "";
		display: block;
		clear: both;
	}
	.header>.container>.nav-list> ul:first-child{
		float: left;
	}
	.header>.container>.nav-list>ul:last-child{
		float: right;
	}
	.header>.container>.nav-list>ul>li{
		float: left;
		text-align:center;
	}
	.header>.container>.nav-list>ul>li>a{
		width: 100%;
		padding: 20px 15px;
		color: #9d9d9d;		
		font-size: 14px;
	}
	.foot>.content>.website{
		width:58.3333%;
		float: left;
	}
	.foot>.content>.one{
		width: 41.66666667%;
		float: left;
	}
	.foot>.content>.two{
		width: 58.3333333%;
		float: left;
	}
	.foot>.content>div.erweima {
		float: left;
		width: 16.66666667%;
		padding-right: 0;
	}
	.foot>.content::after{
	content: "";
	display: block;
	clear: both;
	}




}


/*最小显示宽度992px*/
@media screen and (min-width: 992px){
	.container{
		width:970px;
		padding-right: 15px;
	    padding-left: 15px;
	    margin:0 auto;
	}
	.foot>.content>.website{
		width:33.33333333%;
		float: left;
		margin-left: 8.33333333%;
	}
	.foot>.content>.one{
		width: 16.66666667%;
		float: left;
	}
	.foot>.content>.two{
		width: 16.66666667%;
		float: left;
	}
	.foot>.content>div.erweima {
		float: left;
		width: 16.66666667%;
		padding-right: 0;
	}
	.foot>.content::after{
	content: "";
	display: block;
	clear: both;
	}


}

/*最小显示宽度1200px*/
@media screen and (min-width: 1200px){
	.container{
		width:1170px;
		padding-right: 15px;
	    padding-left: 15px;
	    margin:0 auto;
	}
}





/*底部 foot*/

.foot{
		width: 100%;
		padding: 60px 30px 0;
		background-color:#343c3f;
}
.foot>.content{
	padding-bottom: 58px;
	border-bottom: 1px solid #4d595d;
	margin: 0 -15px;
}

.foot>.content>.website{
	line-height: 33px;
}
.foot>.content>.website img{
	display: block;
	max-width: 100%;

}
.foot>.content>.website>h5{
	max-width:280px;
	padding-bottom: 10px;
	margin-top:10px;
	margin-bottom: 25px;
}
.foot>.content>.website>p{
	width: 80%;
	margin:0 0 10px;
	text-indent:2em;
	color: #ccc;
	font-size: 14px;
}
.foot>.content>.website>.share{
	width: 248px;
	height: 68px;
}
.foot>.content>.foot-nav{
	color: #ccc;
	line-height: 33px;
	padding: 0 30px;
}
.foot>.content>.one{
	/*float: left;*/
}
.foot>.content h5{
	color: #999;
	padding-bottom: 10px;
	max-width: 280px;
	font-size: 14px;
	margin-top:10px;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.1;
}

.foot>.content>.foot-nav>ul{
	font-size: 14px;
}

.foot>.content>.foot-nav>ul>li>a:hover{
	color: #00d1fe;
}
.foot>.content>.foot-nav>ul>li>a{
	color: #ccc;
}

.foot>.content>.erweima{
	color: #ccc;
	line-height: 33px;
	padding-right: 30px;
	padding-left: 30px;
	/*float: left;*/
}
.foot>.content>.erweima>img{
	display: block;
	max-width: 100%;
	margin-top: 8px;
}
.foot>.copyright{
	color: #ccc;
	text-align:center;
	line-height: 117px;
	font-size: 14px;
}
.foot>.copyright>a{
	color: #ccc;
	font-size: 14px;
}
.foot>.copyright>a:hover{
	color: #00d1fe;
}
